html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

p {
  font-family: 'MoscowEconomy800';
  font-weight: 800;
  color: #000000;
}

span {
  font-family: 'MoscowEconomy400';
  font-weight: 400;
  color: #000000;
}

h1 {
  font-family: "RalewayRegular";
}

.container {
  max-width: 1245px;
  padding: 0 15px;
  margin: 0 auto;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-green {
  background-color: #00FFA8;
}

.section-black {
  background-color: #000;
}

/* Header */
.header {
  background-color: #000;
  background-image: url('../images/BackgroundHeader.png');
  background-position: center;
  background-repeat: no-repeat;
  max-height: 875px;
  min-height: 875px;
}

.header__navigation {
  display: flex;
  align-items: center;
  padding: 30px 50px;
  max-width: 1300px;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header__navigation-items {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__navigation-item-link {
  font-family: 'MoscowEconomy800';
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #00FFA8;
}

.header__navigation-item-link:hover {
  color: #fff;
}

.header__container {
  padding-top: 120px;
}

.header__content {
  display: flex;
}

.header__content__info {
  flex: 1 1 100%;
}

.header__content-company {
  display: flex;
  align-items: center;
  gap: 55px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.header__content-logo {
  max-width: 460px;
  padding-bottom: 30px;
  border-bottom: 2px solid #00FFA8;
  margin-bottom: 30px;
}

.content-navigation__items {
  display: grid;
}

.content-navigation__item {
  position: relative;
}

.content-navigation__item+.content-navigation__item {
  margin-top: 20px;
}

.content-navigation__item::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: #00FFA8;
}

.content-navigation__item:last-child {
  display: flex;
  align-items: center;
  gap: 20px;
}

.content-navigation__link {
  display: block;
  font-family: 'MoscowEconomy800';
  font-weight: 800;
  font-size: 34px;
  line-height: 44px;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 345px;
  margin-left: 32px;
}

.content-navigation__button {
  cursor: pointer;
  height: fit-content;
  font-family: 'MoscowEconomy800';
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  color: #00FFA8;
  background: transparent;
  border: 2px solid #00FFA8;
  padding: 3px 10px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.content-navigation__button:hover {
  background: #00FFA8;
  color: #000;
}

.header__content-destination {
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.destination-item p {
  font-family: 'MoscowEconomy800';
  font-weight: 800;
  font-size: 24px;
  line-height: 31px;
  color: #00FFA8;
  text-transform: uppercase;
}

.destination-item span {
  font-family: 'MoscowEconomy400';
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.destination-item:first-child {
  max-width: 133px;
  width: 100%;
}

.destination-item:last-child {
  max-width: 163px;
}

.header__content-guest {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: flex-end;
}

.guest__wrapper:nth-child(1) img,
.guest__wrapper:nth-child(4) img {
  max-width: 300px;
}

.guest__wrapper:nth-child(2) img,
.guest__wrapper:nth-child(3) img {
  max-width: 230px;
}

.guest__wrapper:last-child {
  margin-top: -70px;
}

.guest__name {
  font-family: 'MoscowEconomy800';
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 10px;
}

/* Конец Header */
/* Section Хакатон */
.hakaton {
  background-image: url('../images/BackgroundSection.png');
  background-repeat: no-repeat;
}

.hakaton__poster {
  display: flex;
  margin-bottom: 120px;
}

.hakaton__poster-left {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}

.hakaton__poster-left__title {
  font-family: 'MoscowEconomy900';
  font-weight: 900;
  font-size: 80px;
  line-height: 102px;
  color: #000000;
  margin-bottom: 50px;
}

.hakaton__poster-left__date p {
  font-size: 60px;
  line-height: 77px;
  color: #000000;
}

.hakaton__poster-left__date span {
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.hakaton__poster-left__button {
  margin-top: auto;
  cursor: pointer;
  font-family: 'MoscowEconomy800';
  font-weight: 800;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  color: #000000;
  border: 2px solid #000000;
  background: transparent;
  max-width: 395px;
  padding: 12px 20px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.hakaton__poster-left__button:hover {
  background-color: #000;
  color: #00FFA8;
}

.hakaton__poster-right {
  flex: 1 1 100%;
}

.hakaton__poster-right__info {
  display: flex;
  gap: 50px;
  justify-content: space-between;

}

.location span {
  display: block;
  max-width: 177px;
}

.location p {
  font-size: 34px;
  line-height: 44px;
  text-transform: uppercase;
}

.location span {
  font-size: 18px;
  line-height: 23px;
}

.participation li {
  position: relative;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
}

.participation li p {
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  margin-left: 32px;
}

.participation li::after {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 12px;
  height: 12px;
  background-color: #000;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.hakaton__poster-right__slogan {
  margin-top: 60px;
  margin-bottom: 10px;
  font-family: 'MoscowEconomy700';
  font-weight: 700;
  font-size: 77px;
  line-height: 130%;
  text-transform: uppercase;
  color: #000000;
}

.hakaton__poster-right__rules {
  cursor: pointer;
  font-size: 18px;
  line-height: 23px;
  text-decoration: underline;
  color: #000000;
}

.hakaton__waiting {
  position: relative;
  display: flex;
}

.hakaton__waiting::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #000;
}

.hakaton__waiting-title {
  font-family: 'MoscowEconomy900';
  font-weight: 900;
  font-size: 60px;
  line-height: 77px;
  text-transform: uppercase;
  color: #000000;
  max-width: 215px;
  padding-top: 50px;
  margin-right: 50px;
}

.hakaton__waiting-line {
  background-color: #000;
  width: 3px;
  height: auto;
}

.hakaton__waiting-items {
  padding-left: 50px;
  display: flex;
  padding-top: 50px;
  width: 100%;
  justify-content: space-between;
}

.hakaton__waiting-item {
  max-width: 245px;
}

.hakaton__waiting-item p {
  font-size: 40px;
  line-height: 90%;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

.hakaton__waiting-item span {
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

/* Конец section Hakaton */
/* section Hakaton */
.team__count {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  border-bottom: 2px solid #00FFA8;
}

.team__count div:first-child {
  margin-left: auto;
}

.team__count div:last-child {
  margin-left: 100px;
}

.team__count p {
  font-family: 'MoscowEconomy800';
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #00FFA8;
}

.team__count span {
  font-family: 'MoscowEconomy800';
  font-weight: 800;
  font-size: 40px;
  line-height: 51px;
  color: #FFFFFF;

}

.team__count-title {
  font-family: 'MoscowEconomy900';
  font-weight: 900;
  font-size: 60px;
  line-height: 77px;
  color: #00FFA8;
  margin-right: auto;
  max-width: 235px;
}

.team__terms {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 2px solid #00FFA8;
}

.team__terms-title {
  font-family: 'MoscowEconomy400';
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
  max-width: 395px;
}

.team__terms-items {
  flex: 0 1 44%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  justify-content: space-between;
}

.team__terms-item {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  height: fit-content;
}

.team__terms-item::after {
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  background-color: #00FFA8;
}

.team__terms-item p {
  margin-left: 10px;
  font-family: 'MoscowEconomy400';
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team__help {
  display: flex;
  align-items: center;
}

.team__help-title {
  max-width: 392px;
  font-family: 'MoscowEconomy800';
  font-weight: 800;
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;
  color: #00FFA8;
  margin-right: auto;
}

.team__help-button {
  margin-left: auto;
  margin-right: auto;
  padding: 12px 20px;
  max-width: 392px;
  width: 100%;
  cursor: pointer;
  font-family: 'MoscowEconomy800';
  font-weight: 800;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  color: #00FFA8;
  border: 2px solid #00FFA8;
  background-color: #000;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.team__help-button:hover {
  background-color: #00FFA8;
  color: #000;
}

/* Конец section team */
/* section cases */
.cases__title-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 2px solid #000;
  margin-bottom: 40px;
}

.cases__title {
  font-family: 'MoscowEconomy900';
  font-weight: 900;
  font-size: 60px;
  line-height: 77px;
  color: #000000;
}

.cases__subtitle {
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  max-width: 425px;

}

.cases__items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.cases__item {
  flex: 0 1 23.7%;
  border: 2px solid #000000;
  padding: 20px 18px 20px 18px;
  min-height: 430px;
  display: grid;
  grid-template-rows: 1fr;
}

.cases__item:nth-child(1) .cases__item-img {
  margin-top: 25px;
  margin-bottom: 65px;
}

.cases__item:nth-child(2) .cases__item-img {
  margin-top: 35px;
}

.cases__item:nth-child(3) .cases__item-img {
  margin-top: 5px;
  margin-bottom: 10px;
}

.cases__item:nth-child(5) .cases__item-img {
  margin-top: 25px;
  margin-bottom: 10px;
}

.cases__item:nth-child(6) .cases__item-img {
  margin-top: 10px;
}

.cases__item:nth-child(7) .cases__item-img {
  margin-top: 10px;
  margin-bottom: 43px;
}

.cases__item:nth-child(9) .cases__item-img {
  margin-top: 15px;
}

.cases__item-img {
  margin: 0 auto;
}

.cases__item-title {
  font-family: 'MoscowEconomy800';
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 20px;
}

.cases__item-description {
  font-family: 'MoscowEconomy800';
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #000000;
  overflow-wrap: anywhere;
  max-width: 250px;
}

.cases__item-button {
  display: block;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'MoscowEconomy400';
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  text-decoration: underline;
  color: #000000;
  align-self: flex-end;
}

.cases__items-button {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #000000;
  cursor: pointer;
  font-family: 'MoscowEconomy800';
  font-weight: 800;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
  height: fit-content;
  padding: 19px;
  max-width: 420px;
  width: 100%;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.cases__items-button:hover {
  background-color: #000;
  color: #00FFA8;
}

.cases__item-info {
  background: #000000;
  opacity: 0.9;
  border: 2px solid #00FFA8;
  display: flex;
  position: relative;
  padding: 50px;
  max-height: 535px;
  height: 100%;
  position: absolute;
  left: 20px;
  top: 20px;
  right: 20px;
}

.cases__item-info.is-closed {
  display: none;
}

.cases__item-info_company {
  padding-right: 25px;
  border-right: 2px solid #00FFA8;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  flex: 0 0 345px;
}

.cases__item-info_company-logo {
  margin: 0 auto;
  margin-bottom: 50px;
  max-height: 145px;
  max-width: 110px;
  max-height: 95px;
  min-height: 95px;
  object-fit: contain;
}

.cases__item-info_company-name {
  font-family: 'TT Moscow Economy800';
  font-weight: 800;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.cases__item-info_company-description {
  font-family: 'MoscowEconomy400';
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  margin-bottom: 80px;
}

.cases__item-info_company-button {
  font-family: 'MoscowEconomy800';
  font-weight: 800;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  color: #00FFA8;
  border: 2px solid #00FFA8;
  background-color: transparent;
  padding: 12px;
  max-width: 345px;
  width: 100%;
  cursor: pointer;
}

.cases__item-info_company-button:hover {}

.cases__item-info_tasks-title {
  font-family: 'TT Moscow Economy800';
  font-weight: 800;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.cases__item-info_tasks-desription {
  font-family: 'MoscowEconomy400';
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  white-space: pre-wrap;
}

.cases__item-info__close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

/* Конец section cases */
/* lecture */
.lecture {
  background-image: url('../images/BackgroundLecture.png');
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}

.lecture__wrapper {
  display: flex;
  justify-content: space-between;
}

.lecture__title {
  font-family: 'MoscowEconomy800';
  font-weight: 800;
  font-size: 80px;
  line-height: 102px;
  color: #00FFA8;
  margin-bottom: 50px;
}

.lecture__left {
  flex: 0 1 415px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lecture__left-location {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}

.lecture__left-location__date {
  display: flex;
  flex-direction: column;
}

.lecture__left-location__date p {
  font-family: 'MoscowEconomy800';
  font-weight: 800;
  font-size: 40px;
  line-height: 51px;
  color: #FFFFFF;
}

.lecture__left-location__date span {
  font-family: 'MoscowEconomy400';
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.lecture__left-location__place {}

.lecture__left-location__place p {
  font-family: 'MoscowEconomy800';
  font-weight: 800;
  font-size: 40px;
  line-height: 51px;
  color: #FFFFFF;
}

.lecture__left-location__place span {
  font-family: 'MoscowEconomy400';
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.lecture__left-term {
  margin-bottom: auto;
}

.lecture__left-term__item {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 20px;
}

.lecture__left-term__item::after {
  content: "";
  position: relative;
  left: 0;
  display: block;
  height: 12px;
  width: 12px;
  background-color: #00FFA8;
}

.lecture__left-term__item p {
  font-family: 'MoscowEconomy800';
  font-weight: 800;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.lecture__left-button {
  cursor: pointer;
  font-family: 'MoscowEconomy800';
  font-weight: 800;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #00FFA8;
  background-color: transparent;
  border: 2px solid #00FFA8;
  max-width: 395px;
  width: 100%;
  padding: 12px;
}

.lecture__right {
  max-width: 495px;
}

.lecture__right-title {
  font-family: 'MoscowEconomy800';
  font-weight: 800;
  font-size: 50px;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.lecture__right-subtitle {
  font-family: 'MoscowEconomy800';
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 65px;
}

.lecture__right-show {
  font-family: 'MoscowEconomy800';
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  color: #00FFA8;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

.lecture__video {
  position: absolute;
  border: 4px solid #00FFA8;
  top: 34%;
  left: 0;
  right: 0;
  max-width: 1215px;
  width: 100%;
  margin: 0 auto;
}

.lecture__video-wrapper {
  position: relative;
}

.lecture__video.is-closed {
  display: none;

}

.lecture__video-closed {
  position: absolute;
  right: 20px;
  top: 20px;
}

/* Конец section lecture */
/* section program */
.program {
  background-image: url('../images/BackgroundProgram.png');
  background-repeat: no-repeat;
  background-position: center;
}

.program__title {
  font-family: 'MoscowEconomy900';
  font-weight: 900;
  font-size: 60px;
  line-height: 77px;
  color: #000000;
}

.program__title-program {
  margin-bottom: 75px;
}

.program__content {
  display: grid;
}

.program__item {}

.program__item-img {}

.program__item-info {}

.program__item-info__time {}

.program__item-info__date {}

.program__item-info__name {}

.program__item-info__description {}

.program__item-info__slogan {}

.program__title-timing {}

.timing {}

.timing__left {}

.timing__center {}

.timing__right {}

/* Конец section program */






































.one {
  width: 500px;
  height: 500px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

















@font-face {
  font-family: "RalewayRegular";
  src: url("./../fonts/TTChocolates-Black.ttf") format("truetype");
}

@font-face {
  font-family: "MoscowEconomy400";
  src: url("./../fonts/TTMoscowEconomyRegular.ttf") format("truetype");
}

@font-face {
  font-family: "MoscowEconomy700";
  src: url("./../fonts/TTMoscowEconomyBold.ttf") format("truetype");
}

@font-face {
  font-family: "MoscowEconomy800";
  src: url("./../fonts/TTMoscowEconomyExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "MoscowEconomy900";
  src: url("./../fonts/TTMoscowEconomyBlack.ttf") format("truetype");
}
